header {
  height: 55px;
  background-color: #FFF;
}
header div {
  display: inline-block;
  width: 48%;
}
header div:first-child {
  padding: 18px 0 0 15px;
  display: inline-block;
  float: left;
  font-weight: bold;
}
header div:last-child {
  float: right;
}
#header-fixed {
  display: none;
  width: 45%;
}
#header-collapsed {
  float: right;
}
#header-collapsed div {
  display: none;
  width: 100%
}
.fa-bars {
  padding: 15px 12px 0 0;
  font-size: 25px;
  color: #000000;
}
#menu-items {
  width: 100%;
  display: none;
  text-align: center;
}
.dropdown {
  display: block !important;
  background-color: #FFF;
}
#menu-items li {
  background-color: rgba(0,0,0,.05);
  margin-top: 3px;
  padding: 10px 0;
}
#menu-items li:last-child {
  margin-bottom: 3px;
}
#menu-items a, #menu-items a:visited {
  color: #000000;
}
footer {
  height: 50px;
}

@media screen and (min-width: 500px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  header div:first-child {
    width: 5%;
  }
  header div:nth-child(2) {
    width: 90%;
    float: right;
  }
  header div:last-child {
    display: none !important;
  }
  #header-collapsed {
    display: none;
  }
  #header-fixed {
    display: inline-block;
    width: 80%;
    float: right;
  }
  #header fixed ul {
    float: right;
  }
  #header-fixed li {
    display: inline-block;
    padding: 18px 15px 0 0;
    float: right;
  }
}

@media screen and (min-width: 700px) {
  header section {
    max-width: 850px;
    margin: 0 auto;
  }  
}