#featured-projects {
  margin: 30px auto;
  padding: 20px 20px;
  text-align: center;
}
#featured-projects h3 {
  text-align: left;
}
.img-div {
  position: relative;
  display: inline-block;
  width: 80vw;
  height: 70vw;
  background: #bcbcbc;
  border: 1px #000 solid;
  margin-bottom: 10px;
}
#featured-projects img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-bottom: 1px solid #FFF;
}
#featured-projects h4 {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}
.fa-github {
  font-size: 29px;
}
.fa-external-link-alt {
  font-size: 26px;
}
.fa-github, .fa-external-link-alt {
  margin: 10px 3px 0 3px;
  color: #FFF;
  transition: 350ms all;
}
.fa-github:hover, .fa-external-link-alt:hover {
  color: #232323;
}
#featured-projects a:visited {
  color: #FFF;
}

@media screen and (min-width: 500px) {
  .img-div {
    max-width: 30vw;
    max-height: 30vw;
  }
}

@media screen and (min-width: 700px) {
  #featured-projects {
    max-width: 850px;
  }  
  .img-div {
    max-width: 25vw;
    max-height: 25vw;
    margin: 0 3px 0 3px;
  }
}
@media screen and (min-width: 1000px) {
  .img-div {
    position: relative;
    display: inline-block;
    max-width: 21vw;
    max-height: 21vw;
    margin: 0 3px 0 3px;
  }
}