#hero {
  clear: both;
  background-color: #FFF;
  background-image: url(/images/pexels-photo.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 67vw;
  margin-bottom: 15px;
}
#hero div {
  height: 100%;
  display: flex;
  position: relative;
}
.col-1 {
  height: 100%;
  width: 5%;
  display: inline-block;
}
.col-1:nth-child(2) {
  height: 100%;
  width: 90%;
  display: inline-block;
  position: relative;
}
.row-1 {
  position: absolute;
  flex: auto;
  display: block;
}
.row-1:nth-child(2) {
  display: block;
}
#content {
  margin: 0 auto;
  align-self: center;
  align-items: center;
  height: 30% !important;
  width: 100%;
  background-color: rgba(255,255,255,0.85)
}
#hero h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  flex: none;
}
@media screen and (min-width: 600px) {
  #hero {
    max-height: 500px;
    background-size: cover;
  }
}